@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.img-box {
  float: left;
  width: 50%;
  height: 100px;
  margin-right: 110px;
}

.img-box img {
    width: 100%; 
    
}

section {
    max-width: 450px;
    margin: 50px;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
}

h2 {
    color: #0077cc;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

input {
  border: 1px solid black; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; 
}

input:focus {
  border-color: red; 
}


small {
    color: red;
    font-size: 0.9em;
}

.button-login {
  padding: 20px;
  margin-bottom: 50px;
  margin: 0 auto;
}

button {
    width: 20rem;
    background-color: #0077cc;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.mensagemLogin-principal {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 15px;
}

.mensagemLogin-principal a {
    background-color: #f0f8ff;
    padding: 6px 12px;
    border-radius: 6px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.mensagemLogin-principal a:hover {
    background-color: #e0f0ff;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0077cc;
    color: white;
    margin-top: 20px;
}

/* Responsivo */
/* === TABLETS (768px até 1024px) === */

@media screen and (max-width: 1024px) {
  .img-box {
    float: none;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
    height: auto;
  }

  .img-box img {
    max-width: 400px;
    height: auto;
  }

  section {
    margin: 80px auto;
    padding: 100px;
    width: 50%;
  }

}

/* === CELULARES (até 767px) === */
@media screen and (max-width: 767px) {
  body {
    padding: 10px;
  }

  .img-box {
    display: none;
  }

  section {
    margin: 150px auto;
    padding: 100px;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    left: 0;
    right: 0;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  label,
  input {
    font-size: 1rem;
  }

  .mensagemLogin-principal p {
    font-size: 16px;
  }

  footer {
    display: none;
  }
}

/* === MODO HORIZONTAL EM CELULARES (landscape) === */

  @media screen and (orientation: landscape) and (max-width: 1024px) {
    .img-box {
      float: none;
      width: 40%;
      margin: 0 auto 30px;
      height: auto;
    }

    section {
      width: 90%;
      margin: 20px auto;
      padding: 30px;
    }

    h2 {
      text-align: center;
    }
  }

