body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container-pricipal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.img-box {
  width: 50%;
  height: 100%;
  background-color: #5bb4ff;
}

.img-box img{
  width: 100%;
  height: 100%;
}

.login-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.login-container {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 380px;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}


h2 {
  color: #0077cc;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: red; 
}


button {
  background-color: #0077cc;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #005fa3;
}

.mensagem {
  margin-top: 10px;
  text-align: center;
}


